{% include "common/site-head.njk" %}
<title>Chris Mischaikow</title>

<h1>Chris Mischaikow</h1>
<h3>Backend software engineer</h3>
<section class="frontpage-list">
  <li>
    <a href="https://www.linkedin.com/in/mischaikow" title="LinkedIn">
      <div>
        <img src="/icons/LinkedIn_icon.svg"> LinkedIn
      </div>
    </a>
  </li>
  <li>
    <a href="https://github.com/mischaikow/" title="GitHub">
      <div>
        <img src="/icons/Octicons-mark-github.svg"> GitHub
      </div>
    </a>
  </li>
</section>
