{% include "common/site-head.njk" %}
<title>Chris Mischaikow</title>

{% include "common/site-nav.njk" %}
<div class="frontpage">
<h1 style="margin-top: 125px">Chris Mischaikow</h1>
<h3>Backend software engineer</h3>
<section class="frontpage-list">
  <li>
    <a href="https://www.linkedin.com/in/mischaikow" title="LinkedIn">
      <div>
        <img width="15px" class=inline-linkedin alt="LinkedIn" src="/icons/LinkedIn_icon.svg"> &nbsp;LinkedIn
      </div>
    </a>
  </li>
  <li>
    <a href="https://github.com/mischaikow/" title="GitHub">
      <div>
        <img width="15px" class=inline-github alt="GitHub" src="/icons/Octicons-mark-github.svg"> &nbsp;GitHub
      </div>
    </a>
  </li>
  <li>
    <a href="/assets/mischaikow_resume.pdf" title="Resume" download="Mischaikow Resume.pdf">
      <div>
        <img width="15px" class="inline-download" alt="resume" src="/icons/file-arrow-down.svg"> &nbsp;Resume
      </div>
    </a>
  </li>
</section>
</div>

{% include "common/site-footer.njk" %}
